<h1 mat-dialog-title *ngIf="data.title != null">
  {{ data.title }}
  <mat-divider></mat-divider>
</h1>

<mat-dialog-content *ngIf="data.message != null">
  {{ data.message }}
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="false" color="warn">Cancelar</button>

  <span class="space-one-to-one"></span>

  <button *ngIf="data.confirmButtonName == null" mat-stroked-button [mat-dialog-close]="true">
    Aceptar
  </button>

  <button *ngIf="data.confirmButtonName != null" mat-stroked-button [mat-dialog-close]="true">
    {{ data.confirmButtonName }}
  </button>
</mat-dialog-actions>
