<div class="row text-center">
  <div class="col-12 mt-5 mb-5">
    <span class="page-not-found-text">404 - Page Not Found</span>
  </div>

  <div class="col-12">
    <button mat-stroked-button (click)="goToPage()">Go to {{ isUserLogged ? 'Home' : 'Login' }}</button>
  </div>
</div>
