.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-fluid {
  padding: 15px 15px 0px;
}

.spacer-one-to-one {
  flex: 1 1 auto;
}
