<div class="container-fluid">
  <div class="row justify-content-center">
    <mat-card class="col-4 login-card">
      <form [formGroup]="user" (ngSubmit)="login($event)">
        <div class="row">
          <div class="col-12 text-center login-text">
            <mat-icon class="login-icon">face</mat-icon>
          </div>

          <div class="col-12 text-center">
            <mat-form-field appearance="outline">
              <mat-label>User</mat-label>
              <input matInput formControlName="user" name="user" placeholder="Enter your username">
              <mat-error *ngIf="userField.hasError('required')">User is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 text-center">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" name="password" placeholder="Enter your password">
              <mat-error *ngIf="passwordField.hasError('required')">Password is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 text-center login-button">
            <button mat-stroked-button type="submit">Login</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
