.login-card {
  margin-top: 50px;
  background-color: #f5f5f5;
  min-width: 300px;
}

.login-text {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-icon {
  transform: scale(2.5);
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
