/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* SnackBar Messages */
.snackbar-error {
  background-color: #f44336;
}

.snackbar-success {
  background-color: #4caf50;
}

.snackbar-warning {
  background-color: #ff9800;
}

// Remove blue border (Bootstrap)
button:focus {
  outline: none;
}
